@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@400;700&display=swap");

@layer components {
    .warna-text {
        color: #34a853;
    }
    .hover-color {
        color: #e3f2e1;
    }
    .bg-color {
        background-color: #ffff;
    }
    .bg-color-button {
        background-color: #299C64;
    }
    .bg-color-fonts {
        background-color: #CBFFD9;
    }
    .h1-color {
        color: #299C64;
    }
    .footer-color{
        background-color:#005312;
    }
    .border-color-green{
        border-color: #5faa6f;
    }
    .line-clamp-3 {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
    }
    .text-size{
        font-size: 8px;
    }

    /* .border-line {
        border-color: #34a853;
    } */
}
